#header-banner{
    background-image: url(images/buil3.jpg);
    padding: 15rem 0rem 15rem 0rem;
    background-size: cover;
    text-align: center;
}
#header-banner h2{
    color: black;
    text-align: center;
}
#header-banner h2 b span{
    color: red;
}
#gallery{
    text-align: center;
}
#gallery h3{
    color: red;
}
#about{
    background-image: url(images/buil4.jpg);
    text-align: center;
    background-size: cover;
    padding: 10rem 0rem 10rem 0rem;
}
#about h2 span{
    color: red;
}
#form{
    background-image: url(images/buil2.jpg);
    background-size: cover;
    padding: 70px 0px 70px 0px;
    text-align: left;
}
#form h3{
    color: red;
}
#long{
    width: 60%;
}
#contact{
    color: red;
}
#footer{
    color: red;
    text-align: center;
}
#Vission{
    background-image: url(images/building1.jpg);
    background-size: cover;
    text-align: center;
}
#Vission span {
    color: red;
}